/* :root {
--blue: #50a1ff;
--indigo: #6610f2;
--purple: #926dde;
--pink: #e83e8c;
--red: #ff4954;
--orange: #ffbe00;
--yellow: #ffba00;
--green: #3cd458;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #868e96;
--gray-dark: #343a40;
--primary: #50a1ff;
--secondary: #e9ecf0;
--success: #3cd458;
--info: #926dde;
--warning: #ffba00;
--danger: #ff4954;
--light: #f8f9fa;
--dark: #191919;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*,
*::before,
*::after {
box-sizing: border-box
}

html {
font-family: sans-serif;
line-height: 1.15;
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
margin: 0;
font-family: "Open Sans", sans-serif;
font-size: .9375rem;
font-weight: 300;
line-height: 1.9;
color: #757575;
text-align: left;
background-color: #fff
}

.row {
display: flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px
}

.col-12,
.col-sm-6,
.col-md-4,
.col-lg-3,
.col-lg-2,
.col-xl{
position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px
}


.col-12 {
flex: 0 0 100%;
max-width: 100%
}

.col-sm-6 {
flex: 0 0 50%;
max-width: 50%
}

.col-md-4 {
flex: 0 0 33.33333%;
max-width: 33.33333%
}
.col-lg-3 {
flex: 0 0 25%;
max-width: 25%
}


footer,
nav{
    display: block
}

@media (min-width: 576px) {
    .text-sm-left {
    text-align: left !important
    }

    .text-sm-right {
    text-align: right !important
    }

    .text-sm-center {
    text-align: center !important
    }
}

.flex-column {
    flex-direction: column !important
}

.mt-4,
.my-4 {
    margin-top: 1rem !important
}

.mt-5,
.my-5 {
    margin-top: 1.5rem !important
}

@media (min-width: 576px) {
    .mt-sm-0,
    .my-sm-0 {
        margin-top: 0 !important
    }
}

@media (min-width: 768px) {
    .m-md-0 {
        margin: 0 !important
    }

    .mt-md-0,
    .my-md-0 {
        margin-top: 0 !important
    }
}

.ml-auto,
.mx-auto {
    margin-left: auto !important
}

@media (min-width: 992px) {
    .text-lg-left {
        text-align: left !important
    }
}

@media (min-width: 992px) {
    .m-lg-0 {
        margin: 0 !important
    }

    .mt-lg-0,
    .my-lg-0 {
        margin-top: 0 !important
    }
} */